*{
    padding: 0;
    margin: 0;
    text-decoration: none ;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(21, 21, 21);
}
section{
    margin-top: 50px;
}
.header-menu{
    display: none;
}
@media (max-width: 1100px){
    .header-menu{
        display: block;
    }
    .navbar{
        display: none;
    }
}
header{
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    background-color:rgb(21, 21, 21) ;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    align-items: center;
    font-weight: 700;
    color: white;
}
.navbar ul {
    display: flex;
    gap: 2rem;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color:  rgb(2, 173, 2);
}
header .btn{
    background: rgb(2, 173, 2);
    padding: 20px 40px ;
    border-radius: 10px;
    font-weight: 900;
    border: none;
}
.row{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(54, 53, 53);
    border-radius: 20px;
    margin: 0 auto;
    padding: 40px 0;
    align-items: center;
    text-align: left;
    width: 100%;
    }
    .section1{
        height: 70vh;
    }
 .container1{
     display: flex;
     flex-direction: column;
     gap: 100px;
     width: 60%;
     margin: 0 auto;
     padding: 40px 0;
     color: white;
     text-align: center;
 }
 .container1 h1{
        font-size: 40px;
}
.sifaris-div{
    width: 100%;
    display: flex;
    flex-direction: column ;
    gap: 30px;
}
.indi-sifaris{
    background: rgb(2, 173, 2);
    padding: 20px 40px ;
    border-radius: 10px;
    font-weight: 900;
    border: none;
    color: black;
    align-items: center;
}

.indi-sifaris::after{
    content: url(arrow-236\ \(1\).png);
}
.indi-sifaris::after:hover{
    transform: translateX(20px);

}
.animation{
    position: relative;
    width: 700px;
    height: 500px;
    transform: 400ms;
}
.animation:hover{
    .premium{
        transform: translateX(-50px) translatey(-50px);
    }
}
.animation:hover{
    .digi{
        transform: translatey(50px) translateX(50px);
        right: 100px;
    }
}



.animation img{
    width:400px;
    position: absolute;
}
.premium{
   right: 10;
   top: 10;
   transition: 400ms;
}

.ustunluk{
    width: 50%;
}
.ustunluk p:first-child{
    font-size: 30px;

}
.digi{
    bottom: 10;
    left: 0;
    transition: 400ms;
}
.kredit{
    background-color:  rgb(2, 173, 2);
    padding: 20px;
    color: black;
    border-radius: 20px;
}
.kartlar-2{
    background-color: gray;
    padding: 10px 0;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-bottom: 20px;
}
.kartlar-2 a{
    color: black;
}
.section3 img{ 
width: 400px;
}

.butun-kartlar a{
    color: white;
}
.butun-kartlar a::after{
    content: url(./green-arrow-right-11370.png);
}
.part-ol{
    background-color:  rgb(2, 173, 2);
    padding: 20px;
    color: black;
    border-radius: 20px;
    width: 100px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.column h2{
    font-size: 40px;
}
.column p{
    font-size: 30px;
}
.div-partnyor{
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.butun-partnyorlar{
    color: white;

}
.card{
    background: gray;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.card:hover{
    background-color: rgb(86, 85, 85);
}
.card span{
    background-color: rgb(107, 103, 103);
    border-radius: 10px;
    padding: 5px ;
}
.card img{
    width: 30px;
    margin-right: 40px;
    
}
.cont2-div1{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    align-items: center;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
}
.tamgenc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    gap: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.tamgenc img{
    border-radius: 20px;
    height: 70% ;
}
.container2 h4{
    font-size: 40px;
}.container2 h5{
    font-size: 30px;
}
.container2 a{
    color: white;
}
.date{
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}
.her-odenis + div img{
    width: 300px
}
.green-sifaris{

}